In [1]:
import mysql.connector as connector

connection=connector.connect(user="root",password="password")

In [2]:
cursor = connection.cursor()

In [5]:
cursor.execute("CREATE DATABASE little_lemon_db")

In [6]:
cursor.execute("USE little_lemon_db")

In [7]:
create_menuitem_table = """CREATE TABLE MenuItems (
ItemID INT AUTO_INCREMENT,
Name VARCHAR(200),
Type VARCHAR(100),
Price INT,
PRIMARY KEY (ItemID)
);"""

In [8]:
create_menu_table = """CREATE TABLE Menus (
MenuID INT,
ItemID INT,
Cuisine VARCHAR(100),
PRIMARY KEY (MenuID,ItemID)
);"""

In [9]:
Create_booking_table = """CREATE TABLE Bookings (
BookingID INT AUTO_INCREMENT,
TableNo INT,
GuestFirstName VARCHAR(100) NOT NULL,
GuestLastName VARCHAR(100) NOT NULL,
BookingSlot TIME NOT NULL,
EmployeeID INT,
PRIMARY KEY (BookingID)
);"""

create_orders_table = """CREATE TABLE Orders (
OrderID INT,
TableNo INT,
MenuID INT,
BookingID INT,
BillAmount INT,
Quantity INT,
PRIMARY KEY (OrderID,TableNo)
);"""

create_employees_table = """CREATE TABLE Employees (
EmployeeID INT AUTO_INCREMENT PRIMARY KEY,
Name VARCHAR(100),
Role VARCHAR(100),
Address VARCHAR(100),
Contact_Number INT,
Email VARCHAR(100),
Annual_Salary VARCHAR(100)
);"""

In [10]:
# Create MenuItems table
cursor.execute(create_menuitem_table)

# Create Menu table
cursor.execute(create_menu_table)

# Create Bookings table
cursor.execute(Create_booking_table)

# Create Orders table
cursor.execute(create_orders_table)

# Create Employees table
cursor.execute(create_employees_table)

In [11]:
insert_menuitems="""
INSERT INTO MenuItems (ItemID, Name, Type, Price)
VALUES
(1, 'Olives','Starters',5),
(2, 'Flatbread','Starters', 5),
(3, 'Minestrone', 'Starters', 8),
(4, 'Tomato bread','Starters', 8),
(5, 'Falafel', 'Starters', 7),
(6, 'Hummus', 'Starters', 5),
(7, 'Greek salad', 'Main Courses', 15),
(8, 'Bean soup', 'Main Courses', 12),
(9, 'Pizza', 'Main Courses', 15),
(10, 'Greek yoghurt','Desserts', 7),
(11, 'Ice cream', 'Desserts', 6),
(12, 'Cheesecake', 'Desserts', 4),
(13, 'Athens White wine', 'Drinks', 25),
(14, 'Corfu Red Wine', 'Drinks', 30),
(15, 'Turkish Coffee', 'Drinks', 10),
(16, 'Turkish Coffee', 'Drinks', 10),
(17, 'Kabasa', 'Main Courses', 17);"""

insert_menu="""
INSERT INTO Menus (MenuID,ItemID,Cuisine)
VALUES
(1, 1, 'Greek'),
(1, 7, 'Greek'),
(1, 10, 'Greek'),
(1, 13, 'Greek'),
(2, 3, 'Italian'),
(2, 9, 'Italian'),
(2, 12, 'Italian'),
(2, 15, 'Italian'),
(3, 5, 'Turkish'),
(3, 17, 'Turkish'),
(3, 11, 'Turkish'),
(3, 16, 'Turkish');"""

#*******************************************************#
# Insert query to populate "Bookings" table:
#*******************************************************#
insert_bookings="""
INSERT INTO Bookings (BookingID, TableNo, GuestFirstName, 
GuestLastName, BookingSlot, EmployeeID)
VALUES
(1, 12, 'Anna','Iversen','19:00:00',1),
(2, 12, 'Joakim', 'Iversen', '19:00:00', 1),
(3, 19, 'Vanessa', 'McCarthy', '15:00:00', 3),
(4, 15, 'Marcos', 'Romero', '17:30:00', 4),
(5, 5, 'Hiroki', 'Yamane', '18:30:00', 2),
(6, 8, 'Diana', 'Pinto', '20:00:00', 5);"""

#*******************************************************#
# Insert query to populate "Orders" table:
#*******************************************************#
insert_orders="""
INSERT INTO Orders (OrderID, TableNo, MenuID, BookingID, Quantity, BillAmount)
VALUES
(1, 12, 1, 1, 2, 86),
(2, 19, 2, 2, 1, 37),
(3, 15, 2, 3, 1, 37),
(4, 5, 3, 4, 1, 40),
(5, 8, 1, 5, 1, 43);"""

#*******************************************************#
# Insert query to populate "Employees" table:
#*******************************************************#
insert_employees = """
INSERT INTO employees (EmployeeID, Name, Role, Address, Contact_Number, Email, Annual_Salary)
VALUES
(01, 'Mario Gollini', 'Manager', '724 Parsley Lane Old Town Chicago IL', 351258074, 'Mario.g@littlelemon.com', 70000),
(02, 'Adrian Gollini', 'Assistant Manager', '334 Dill Square Lincoln Park Chicago IL', 351474048, 'Adrian.g@littlelemon.com', 65000),
(03, 'Giorgos Dioudis', 'Head Chef', '879 Sage Street West Loop Chicago IL', 351970582, 'Giorgos.d@littlelemon.com', 50000),
(04, 'Fatma Kaya', 'Assistant Chef', '132 Bay Lane Chicago IL', 351963569, 'Fatma.k@littlelemon.com', 45000),
(05, 'Elena Salvai', 'Head Waiter', '989 Thyme Square EdgeWater Chicago IL', 351074198, 'Elena.s@littlelemon.com', 40000),
(06, 'John Millar', 'Receptionist', '245 Dill Square Lincoln Park Chicago IL', 351584508, 'John.m@littlelemon.com', 35000);"""

In [12]:
# Populate MenuItems table
cursor.execute(insert_menuitems)
connection.commit()

# Populate MenuItems table
cursor.execute(insert_menu)
connection.commit()

# Populate Bookings table
cursor.execute(insert_bookings)
connection.commit()

# Populate Orders table
cursor.execute(insert_orders)
connection.commit()

# Populate Employees table
cursor.execute(insert_employees)
connection.commit()

In [13]:
dbconfig={"database":"little_lemon_db", "user":"root", "password":"password"}
import mysql.connector as connector

connection=connector.connect(user="root",password="password")
cursor = connection.cursor()

In [14]:
cursor.execute("USE little_lemon_db")

In [15]:
stored_procedure_query1= """CREATE PROCEDURE PeakHours()
BEGIN
    SELECT
        HOUR(BookingSlot) AS BookingHour,
        COUNT(*) AS NumBookings
    FROM
        Bookings
    GROUP BY
        BookingHour
    ORDER BY
        NumBookings DESC;
END;"""

In [16]:
cursor.execute(stored_procedure_query1)

In [17]:
cursor.callproc("PeakHours")

()

In [18]:
results =next(cursor.stored_results())

In [19]:
dataset = results.fetchall()

In [20]:
for column_id in cursor.stored_results(): 
    columns = [ column[0] for column in column_id.description ]

In [21]:
print(columns)
for data in dataset:
    print(data)

['BookingHour', 'NumBookings']
(19, 2)
(15, 1)
(17, 1)
(18, 1)
(20, 1)

In [22]:
stored_procedure_query2="""
CREATE PROCEDURE GuestStatus()
BEGIN
    SELECT
        CONCAT(GuestFirstName, ' ', GuestLastName) AS GuestName,
        CASE
            WHEN E.Role IN ('Manager', 'Assistant Manager') THEN 'Ready to pay'
            WHEN E.Role = 'Head Chef' THEN 'Ready to serve'
            WHEN E.Role = 'Assistant Chef' THEN 'Preparing Order'
            WHEN E.Role = 'Head Waiter' THEN 'Order served'
            ELSE 'Unknown'
        END AS Status
    FROM
        Bookings B
    LEFT JOIN
        Employees E ON B.EmployeeID = E.EmployeeID;
END;
"""

In [23]:
cursor.execute(stored_procedure_query2)

In [24]:
cursor.callproc("GuestStatus")

()

In [25]:
results1 =next(cursor.stored_results())

In [26]:
dataset = results1.fetchall()

In [27]:
for column_id in cursor.stored_results(): 
    columns = [ column[0] for column in column_id.description ]

In [28]:
print(columns)
for row in dataset:
    print(row)

['GuestName', 'Status']
('Anna Iversen', 'Ready to pay')
('Joakim Iversen', 'Ready to pay')
('Vanessa McCarthy', 'Ready to serve')
('Marcos Romero', 'Preparing Order')
('Hiroki Yamane', 'Ready to pay')
('Diana Pinto', 'Order served')

In [29]:
connection.close()

In [1]:
import mysql.connector
from mysql.connector.pooling import MySQLConnectionPool, Error

In [2]:
dbconfig = {
    "host": "localhost",
    "user": "root",
    "password": "password",
    "database": "little_lemon_db",
}

In [3]:
try:
    pool_b = MySQLConnectionPool(pool_name="pool_b", pool_size=2, **dbconfig)
    print("Connection pool 'pool_b' established successfully.")
except Error as e:
    print("Error:", e)

Connection pool 'pool_b' established successfully.

In [4]:
guests_data = [
    {
        "table_number": 8,
        "first_name": "Anees",
        "last_name": "Java",
        "booking_time": "18:00",
        "employee_id": 6,
    },
    {
        "table_number": 5,
        "first_name": "Bald",
        "last_name": "Vin",
        "booking_time": "19:00",
        "employee_id": 6,
    },
    {
        "table_number": 12,
        "first_name": "Jay",
        "last_name": "Kon",
        "booking_time": "19:30",
        "employee_id": 6,
    },
]

In [5]:
def insert_booking(cursor, data):
    query = "INSERT INTO Bookings (TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID) VALUES (%s, %s, %s, %s, %s)"
    cursor.execute(query, (data["table_number"], data["first_name"], data["last_name"], data["booking_time"], data["employee_id"]))
try:
    connection1 = pool_b.get_connection()
    cursor1 = connection1.cursor(buffered=True)
    
    for guest_data in guests_data:
        insert_booking(cursor1, guest_data)
    
    connection1.commit()
    cursor1.close()
    connection1.close()

    print("Data inserted successfully.")
except Error as e:
    print("Error:", e)

Data inserted successfully.

In [6]:
manager_query = "SELECT Name, EmployeeID FROM Employees WHERE Role = 'Manager'"
highest_salary_query = "SELECT Name, Role FROM Employees ORDER BY Annual_Salary DESC LIMIT 1"
booking_count_query = "SELECT COUNT(*) FROM Bookings WHERE BookingSlot BETWEEN '18:00' AND '20:00'"
waiting_guests_query = "SELECT CONCAT(GuestFirstName, ' ', GuestLastName) AS GuestName, BookingID FROM Bookings ORDER BY BookingSlot"

try:
    connection2 = pool_b.get_connection()
    cursor2 = connection2.cursor(buffered=True)

    cursor2.execute(manager_query)
    manager_data = cursor2.fetchone()
    
    cursor2.execute(highest_salary_query)
    highest_salary_employee = cursor2.fetchone()
    
    cursor2.execute(booking_count_query)
    booking_count = cursor2.fetchone()[0]
    
    cursor2.execute(waiting_guests_query)
    waiting_guests = cursor2.fetchall()

    cursor2.close()
    connection2.close()

    print("Little Lemon Manager:", manager_data)
    print("Highest Salary Employee:", highest_salary_employee)
    print("Number of Guests Booked between 18:00 and 20:00:", booking_count)
    print("Guests Waiting to Be Seated:")
    for guest in waiting_guests:
        print(f"{guest[1]}: {guest[0]}")
except Error as e:
    print("Error:", e)

Little Lemon Manager: ('Mario Gollini', 1)
Highest Salary Employee: ('Mario Gollini', 'Manager')
Number of Guests Booked between 18:00 and 20:00: 10
Guests Waiting to Be Seated:
3: Vanessa McCarthy
4: Marcos Romero
7: Anees Java
10: Anees Java
5: Hiroki Yamane
1: Anna Iversen
2: Joakim Iversen
8: Bald Vin
11: Bald Vin
9: Jay Kon
12: Jay Kon
6: Diana Pinto

In [9]:
stored_procedure_query= """CREATE PROCEDURE BasicsSalesReport()
BEGIN
    SELECT
        SUM(BillAmount) AS TotalSales,
        AVG(BillAmount) AS AverageSale,
        MIN(BillAmount) AS MinimumBillPaid,
        MAX(BillAmount) AS MaximumBillPaid
    FROM Orders;
END"""

In [10]:
import mysql.connector as connector
connection=connector.connect(user="root",password="password")
cursor = connection.cursor()
cursor.execute("USE little_lemon_db")
cursor.execute(stored_procedure_query)

In [11]:
cursor.callproc("BasicsSalesReport")

()

In [12]:
results =next(cursor.stored_results())

In [13]:
dataset = results.fetchall()

In [14]:
for column_id in cursor.stored_results(): 
    columns = [ column[0] for column in column_id.description ]

In [15]:
print(columns)
for row in dataset:
    print(row)

['TotalSales', 'AverageSale', 'MinimumBillPaid', 'MaximumBillPaid']
(Decimal('243'), Decimal('48.6000'), 37, 86)

In [16]:
try:
    connection3 = pool_b.get_connection()
    cursor3 = connection3.cursor(buffered=True)
    upcoming_bookings_query = """
    SELECT
        B.BookingSlot,
        CONCAT(B.GuestFirstName, ' ', B.GuestLastName) AS GuestName,
        CONCAT(E.Name, ' [', E.Role, ']') AS AssignedTo
    FROM
        Bookings AS B
    LEFT JOIN
        Employees AS E
    ON
        B.EmployeeID = E.EmployeeID
    ORDER BY
        B.BookingSlot
    LIMIT 3;
    """
    
    cursor3.execute(upcoming_bookings_query)
    upcoming_bookings = cursor3.fetchall()

    cursor3.close()
    connection3.close()

    print("[BookingSlot]\t[Guest_name]\t[Assigned to: Employee Name [Employee Role]]")
    for booking in upcoming_bookings:
        print(f"{booking[0]}\t{booking[1]}\t{booking[2]}")
except Error as e:
    print("Error:", e)

[BookingSlot]	[Guest_name]	[Assigned to: Employee Name [Employee Role]]
15:00:00	Vanessa McCarthy	Giorgos Dioudis [Head Chef]
17:30:00	Marcos Romero	Fatma Kaya [Assistant Chef]
18:00:00	Anees Java	John Millar [Receptionist]